body, html {
  font-family: Arial;
  font-size: 13px;
  line-height: 27px;
  padding: 0;
  margin: 0;
}

.conteiner {
  height: 2200px;
  min-width: 940px;
  padding: 0 10px;
  outline: 1px solid green;
}

.wrapper {
  margin: 0 auto;
  height: 2200px;
  width: 960px;
  background: url(../img/33.png) no-repeat;
}

/*------------header----------------------*/
.header-logo {
  float: left;
}

.user-login {
  position: relative;
  float: left;
  min-width: 230px;
  min-height: 60px;
  padding-top: 22px;
  padding-left: 69px;;
  color: #fff;
  font-style: italic;
}

.user-login::after {
  content: "";
  position: absolute;
  left: 31px;
  top: 26px;
  height: 23px;
  width: 21px;
  background: url("../img/icon/sign-in.png") no-repeat;
  background-position: 0 0;
}
.user-login a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.contacts {
  position: relative;
  float: left;
  color: #fff;
  min-width: 330px;
  min-height: 25px;
  padding-top: 21px;
  padding-left: 52px;
}

.contacts::before {
  position: absolute;
  content: "";
  background: url("../img/icon/contact.png") no-repeat;
  height: 20px;
  width: 20px;
  top: 22px;
  left: 16px;
}

.contacts a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  font-style: italic;
}
.contacts .comma {
  padding-right: 6px;
}

.contacts .tel {
  font-weight: bold;
  font-size: 18px;
}

.schedule {
  position: relative;
  float: left;
  min-width: 330px;
  min-height: 15px;
  padding-left: 52px;
  padding-top: 3px;
  color: #fff;
  font-style: italic;
}

.schedule::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 5px;
  left: 16px;
  background: url("../img/icon/time.png") no-repeat;
}

.schedule p {
  margin: 0;
}

.schedule strong{
  font-weight: bold;
  font-size: 15px;
}
