body, html {
  font-family: Arial;
  font-size: 13px;
  line-height: 27px;
  padding: 0;
  margin: 0;
  color: #3f3f3e;
  background-color: #fffcf8;
}

.conteiner {
  max-width: 940px;
  padding: 0 10px;
  clear: both;
  /*outline: 1px solid green;*/
}

.wrapper {
  margin: 0 auto;
  height: 2200px;
  width: 960px;;
  /*background: url(../img/33.png) no-repeat;*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*------------header----------------------*/
header {
  position: relative;
  height: 185px;
  margin-bottom: 20px;
  background-image: linear-gradient(to top, #91d402 0%, #2c5d00 100%);
}

header::before {
  position: absolute;
  top: 183px;
  content: "";
  width: 100%;
  height: 8px;
  background: url(../img/wave3.png) repeat-x;
  z-index: 0;
}

.header-logo {
  float: left;
}

.user-login {
  position: relative;
  float: left;
  min-width: 190px;
  min-height: 60px;
  margin-top: 22px;
  margin-left: 30px;
  padding-left: 39px;
  color: #fff;
  font-style: italic;
}

.user-login::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 3px;
  height: 23px;
  width: 21px;
  background: url("../img/icon/sign-in.png") no-repeat;
  background-position: 0 0;
}
.user-login a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.contacts {
  position: relative;
  float: right;
  color: #fff;
  min-width: 330px;
  min-height: 25px;
  margin-top: 21px;
  margin-right: 30px;
  padding-left: 42px;
}

.contacts::before {
  position: absolute;
  content: "";
  background: url("../img/icon/contact.png") no-repeat;
  height: 23px;
  width: 20px;
  top: 1px;
  left: 5px;
}

.contacts a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  font-style: italic;
}

.contacts .tel {
  font-weight: bold;
  font-size: 18px;
}

.schedule {
  position: relative;
  float: right;
  min-width: 330px;
  min-height: 15px;
  padding-left: 42px;
  margin: 3px 30px 0 0;
  color: #fff;
  font-style: italic;
}

.schedule::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 6px;
  background: url("../img/icon/time.png") no-repeat;
}

.schedule p {
  margin: 0;
}

.schedule span{
  font-weight: bold;
  font-size: 15px;
}

.main-menu {
  float: right;
  margin-top: 12px;
  font-size: 0;
  line-height: 27px;
  font-weight: bold;
}

.main-menu__list {
  font-size: 0;
  margin: 0;
  padding: 0;
}

.main-menu__list li {
  display: inline-block;
  font-size: 14px;
  padding: 1px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5) inset;
  /*box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7) inset;*/
  background-image: linear-gradient(to top, #5d1c00 1%, #ea7500 10%, #fbb31a 97%, #fff 99%);

}

.main-menu__list a:hover, .main-menu__list li:hover {
  opacity: 0.9;
}

.main-menu__list .active {
  background-image: linear-gradient(to top, #041f00 1%, #0a6a18 20%, #75a000 97%, #fff 99%);
}

.main-menu__list li:first-child {
  border-radius: 30% 0 0 30%;
}

.main-menu__list li:last-child {
  border-radius: 0 30% 30% 0;
}

.main-menu__list a {
  display: block;
  padding: 8px 13px 8px 10px;
  text-decoration: none;
  color: #fff;
}

.main-menu__list a:last-child {
  padding-left: 14px;
}

.main-menu__list a:first-child {
  padding-left: 14px;
}


.info-basket {
  float: left;
  margin: 9px 0 9px 30px;
  font-style: italic;
  color: #4b6e03;
}

.in-basket {
  display: block;
  position: relative;
  float: right;
  line-height: 30px;
  padding-left: 40px;
  margin-top: 7px;
  margin-right: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: #4b6e03;
}

.in-basket::before {
  position: absolute;
  content: "";
  background: url("../img/icon/basket1.png") no-repeat;
  width: 32px;
  height: 28px;
  left: 3px;
}

.in-basket span {
  font-weight: bold;
  font-size: 16px;
}

.in-basket .basket {
  font-size: 13px;
  text-decoration: underline;
}
/*------------------main-content--------------*/

/*------------slider--------------*/

.main-content {

}

.slider-clothes {
  position: relative;
  float:left;
  width: 594px;
  height: 270px;
  margin-bottom: 20px;
  text-align: center;
  border: transparent;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.slider-clothes::after {
  content: "";
  position: absolute;
  top: 133px;
  left: -44px;
  width: 676px;
  height: 134px;
  border: 3px solid #78bf32;
  border-top: transparent;
  border-radius: 600px/130px;
  z-index: 12;
}

.slider-clothes::before {
  content: "";
  position: absolute;
  left: 0;
  width: 588.5px;
  height: 233px;
  border: 3px solid #78bf32;
  border-bottom: transparent;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 11;
}

.slider-clothes .fade {
  width: 92%;
  margin: 0 auto;
}

.slider-clothes img {
  padding: 2px 44px 2px;
}

.slider-clothes h2 {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #ee7901;
}

.slider-clothes p {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  color: #3f3f3e;
}

/*---------------clothes-and-toys--------------*/

.clothes-and-toys {
  float: left;
  width: 587px;
  margin-bottom: 48px;
}

.clothes-and-toys__item {
  float: left;
}

.clothes, .toys {
  width: 290px;
  text-align: center
}

.clothes__list, .toys__list {
  width: 88%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clothes-and-toys__item:first-child {
  margin-right: 7px;
}

.clothes__list-item, .toys__list-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 23px;
  line-height: 30px;
  font-size: 18px;
}

.clothes__list-item::before, .toys__list-item::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #df4300;
}

.clothes__list-item a, .toys__list-item a {
  color: #5a5a5a;
  text-decoration: none;
  border-bottom: 1px dashed #5a5a5a;
}

.clothes__img-container, .toys__img-container {
  position: relative;
  height: 200px;
  line-height: 200px;
  /*cursor: pointer;*/
}

.clothes__img-container::after, .toys__img-container::after {
  position: absolute;
  content: "";
  height: 165px;
  width: 215px;
  top: 30px;
  left: 30px;
  border: 1px solid #fbf5ed;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

.clothes__img-container img, .toys__img-container img {
  position: relative;
  vertical-align: middle;
  z-index: 2;
}

.clothes__img {
  z-index: 3;
}

.clothes__img-title, .toys__img-title {
  width: 92%;
  margin-top: 5px;
  line-height: 15px;
}

.toys__img-title {
  margin-top: 7px;
  margin-bottom: 2px;
}
/*---------------------news--------------------*/
.news {
  float: right;
  width: 320px;
}

.news__header {
  margin: 0;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  color: #ee7901;
}

.news__blocks {
  max-height: 540px;
  overflow: hidden;
}

.news__block {
  max-height: 180px;
  min-height: 180px;
  background: url("../img/wave4.png") left bottom repeat-x;
  background-position: 0 165px;
  overflow: hidden;
}

.news__block:last-child {
  background: none;
}

.news__date {
  font-size: 13px;
  max-height: 27px;
  font-style: italic;
  overflow: hidden;
}

.news__block-header {
  max-height: 34px;
  margin: 0;
  margin-top: 3px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  overflow: hidden;
}

 .news__text {
  max-height: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
  line-height: 15px;
  overflow: hidden;
}

.news__more-link {
  text-decoration: none;
  font-style: italic;
  color: #78bf32;
}

/*/----------------------goods----------------/*/

.goods-wraper-out {
  width: 100%;
  margin-bottom: 30px;
  background-color: #fcf1e1;
  clear: both;
}

.goods-wrapper {
  position: relative;
  height: 400px;
  width: 100%;
}

.goods-wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  top: -5px;
  background: url(../img/wave5.png) repeat-x;
  z-index: 0;
}

.goods-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  top: 400px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAFCAYAAACqwacNAAAAL0lEQVQYlWP88/HhfwYIYGQgD/xHF2DCJ0mOgeiGkmowTrXohhJrMF41LORoIgQABCAL0uqN0TQAAAAASUVORK5CYII=) repeat-x;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(180deg);
  /*z-index: 0;*/
}

.goods {
  background-color: #fcf1e1;
}

/*-----------------------slider-nav-arrow-----------*/

.goods-slider-nav {
  position: relative;
}


.prev, .next {
  position: absolute;
  top: 120px;
  display: block;
  width: 39px;
  height: 60px;
  cursor: pointer;
  opacity: 0.8;
}

.prev {
  left: 2px;
  background: url(../img/slider-arrow-left.png) no-repeat;
}

.next {
  right: 2px;
  background: url(../img/slider-arrow-right.png) no-repeat;
}

.prev:hover,
.prev:focus,
.next:hover,
.next:focus
{
  opacity: 1;
}

.goods__list {
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 15px;
  list-style: none;
}

.goods__list-item {
  display: inline-block;
  padding: 30px 20px 10px 20px;
  margin-top: -10px;
}

.goods__list-item_active {
  position: relative;
  background-color: #743807;
  background-image: linear-gradient(to top, #ffaa07 0%, #ee692e 70%, #ffbd0c 99%, #ffbd0c 100%);
  border: 1px solid #b26b07;
  border-top: 1px solid #fff;
  border-radius: 10px;
  box-shadow: -3.1px 2.6px 0 rgba(0, 0, 0, 0.19), inset 0 1px 1px white;
}

.goods__list-item a {
  text-decoration: none;
  border-bottom: 2px dotted #5a5a5a;
  font-size: 20px;
  line-height: 27px;
  color: #5a5a5a;
}

.goods__list-item_active a {
  border-bottom: none;
  color: #fff;
}

.goods-slider-wrapper {
  width: 940px;
}

.goods-slider {
  width: 87%;
  margin: 0 auto;
}

.goods-slider__item {
  width: 260px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.goods-slider__item-category {
  width: 45px;
  height: 13px;
  margin: 5px 0 5px -3px;
  padding: 7px 15px;
  color: white;
  font: 400 13px/18px Arial;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(62, 40, 40, 0.75);
  border: 1px solid #b26b07;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-radius: 10px;
  border-radius: 0 3px 3px 0;
  background-image: linear-gradient(to top, #dc4a09 0%, #ffc61a 100%);
  box-shadow: 1.5px 2.6px 0 rgba(0, 0, 0, 0.29), inset 0 1px 1px white;
}

.goods-slider__item-image {
  max-height: 180px;
  max-width: 260px;
  margin: 0;
  line-height: 180px;
  text-align: center;
  overflow: hidden;
}

.goods-slider__item-image img {
  vertical-align: middle;
}

.goods-slider__item-title {
  height: 36px;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #5d5d5d;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  overflow: hidden;
}

.goods-slider__item-price {
  color: #4c8e11;
  width: 40px;
  padding-left: 20px;
}

.goods-slider__item-price-num {
  font-size: 22px;
  font-weight: 700;
}

.goods-slider__item-price-sign {
  font-size: 16px;
  font-style: italic;
}

.goods-slider__item-old-prise {
  display: block;
  margin-bottom: 2px;
  padding-left: 20px;
  color: #787878;
  font-size: 13px;
  line-height: 13px;
  font-style: italic;
  text-decoration: line-through;
}

.goods-slider__item-button {
  float: right;
  position: relative;
  padding: 7px 10px 7px 40px;
  margin-right: 10px;
  color: white;
  font: 400 13px/17px Arial;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to top, #356a06 0%, #559c16 18%, #a4d60d 100%);
  text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.26);
}

.goods-slider__item-button:hover {
  opacity: 0.9;
}

.goods-slider__item-button::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 14px;
  left: 10px;
  top: 8px;
  background: url(../img/shopping_cart.png) no-repeat;
}

.goods-slider__item-button::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 28px;
  left: 33px;
  top: 1px;
  background: url(../img/stick.png) no-repeat;
}

.goods-slider__item-button_not-available {
  float: right;
  padding: 7px 10px;
  margin-right: 10px;
  font: 400 13px/17px Arial;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #5a5a5a;
  background-image: linear-gradient(to top, #919191 0%, #cccccc 18%, #fff 100%);
}


.goods-slider__item-button_not-available:hover {
  cursor: default;
}


/*--------------------------------comments--------------------------------*/

.comments {
  float: left;
  max-width: 600px;
  margin-bottom: 10px;
  clear: both;
}

.comments__header {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #ee7901;
}

.comments__list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.comments__item {
  display: inline-block;
  margin-top: 2px;
  margin-right: 10px;
}

.comments__link {
  color: #616060;
  font-size: 12px;
  line-height: 27px;
  vertical-align: top;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1.5px dotted #616060;
}

.comments__link_positive:hover, .comments__link_positive-active {
  font-style: italic;
  border-bottom: none;
  color: #5fa00b;
}

.comments__link_negative:hover, .comments__link_negative-active {
  font-style: italic;
  border-bottom: none;
  color: #ee6464;
}

.comments__link_neitral:hover, .comments__link_neitral-active {
  font-style: italic;
  border-bottom: none;
  color: #f5cf5a;
}

.comments__link_all:hover, .comments__link_all-active {
  font-style: italic;
  border-bottom: none;
  color: #015094;
}

.comments__link_positive:hover,
.comments__link_negative:hover,
.comments__link_neitral:hover,
.comments__link_all:hover {
  font-style: normal;
}

.comments__link_positive-active:hover,
.comments__link_negative-active:hover,
.comments__link_neitral-active:hover,
.comments__link_all-active:hover {
  font-style: italic;
}

.commentary {
  position: relative;
  padding: 15px 18px 14px  18px;
  margin-bottom: 3px;
  background-color: #fcf1e1;
  border-radius: 10px;
}

.commentary__header {
  display: inline-block;
  position: relative;
  max-width: 350px;
  margin: 0;
  line-height: 20px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 700;
  color: #545454;
}

.commentary__header_positive::after {
  position: absolute;
  content: "";
  top: -1px;
  right: -30px;
  width: 20px;
  height: 22px;
  background: url(../img/icon/smile-positive.png) no-repeat;
}

.commentary__header_neitral::after {
  position: absolute;
  content: "";
  top: -1px;
  right: -30px;
  width: 20px;
  height: 22px;
  background: url(../img/icon/smile-neitral.png) no-repeat;
}

.commentary__header_negative::after {
  position: absolute;
  content: "";
  top: -1px;
  right: -30px;
  width: 20px;
  height: 22px;
  background: url(../img/icon/smile-negative.png) no-repeat;
}

.commentary__date {
  display: block;
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  font-style: italic;
  color: #f58303;
}

.commentary__content {
  margin: 0;
  margin-top: 8px;
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
  color: #6a6a6a;
}

.commentary__more-link {
  display: inline-block;
  float: right;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  font-style: italic;
  color: #78bf32;
}

.commentary__more {
  display: block;
  margin: 20px;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  font-style: italic;
  color: #78bf32;
}


/*-------------------------interview-----------------------*/

.interview {
  float: right;
  width: 256px;
  margin-top: 7px;
  margin-right: 20px;
  padding: 13px 19px;
  border: 3px solid #78bf32;
  border-radius: 10px;
}

.interview__header {
  margin: 0;
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: bold;
  color: #ee7901;
}

.interview__question {
  margin-bottom: 8px;
  color: #444;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

.interview__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.interview__item {
  margin-top: 15px;
  border-bottom: 10px solid #c4c4c4;
  width: 5%;
  line-height: 13px;
  clear: both;
}

.interview__item_orange {
  border-bottom: 10px solid #f58303;
  width: 92%;
}

.interview__item_green {
  border-bottom: 10px solid #78bf32;
  width: 45%;
}

.interview__item_red {
  border-bottom: 10px solid #ee6464;
  width: 15%;
}


.interview__answer {
  display: block;
  min-width: 80px;
  vertical-align: top;
  font-style: italic;
  line-height: 12px;
  font-size: 12px;
  color: #6a6a6a;
}

.interview__answer-percent {
  float: right;
  display: inline-block;
  margin-left: 1px;
  font-style: italic;
  line-height: 12px;
  font-size: 12px;
  color: #6a6a6a;
}

/*---------------------footer---------------------*/

/*--------------------brends------------------------*/
footer {
  position: relative;
  background-color: #efebe0;
  min-height: 290px;
}

footer::before {
    position: absolute;
    top: -5px;
    content: "";
    width: 100%;
    height: 8px;
    background: url(../img/wave6.png) repeat-x;
    z-index: 0;
}

.brends {
  position: relative;
  width: 940px;
  margin-bottom: 35px;
}

.brends__header {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #ee7901;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
}

.brends__slider-nav {
  position: relative;
}

.brends__slider {
  width: 82%;
  margin: 0 auto;
}

.brends__nav-prev,
.brends__nav-next {
  top: 10px;
}

.brends__nav-prev {
  left: 20px;
}

.brends__nav-next {
  right: 20px;
}

.brends__slider-item {
  text-align: center;
  width: 140px;
  margin: 0 8px;
  overflow: hidden;
}

/*--------------------copiright----------------*/

.copyright {
  border-top: 1px solid #6a6a6a;
}

.copyright__text {
  display: inline-block;
  margin-top: 15px;
}
